
<!-- inside app/views/welcome/index.html.erb -->  
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Seja bem-Vindo</h1>
        <p class="lead text-muted">Esta é uma aplicação de exemplo  para o evento Imersão AWS.</p>
        <p>
          <%= link_to "Listar Posts", posts_path, :class=>"btn btn-outline-primary my-3"  %>
          <%= link_to "Gerenciar Destino dos Posts", destination_posts_path, :class=>"btn btn-outline-secondary my-3" %>          
        </p>
      </div>
    </div>
  </section>
</main>