<h1>Editing Destination Post</h1>

<%= render 'form', destination_post: @destination_post %>

<%= link_to 'Show', @destination_post, :class=>"btn bnt-outline-primary" %> |
<%= link_to 'Voltar', destination_posts_path, :class=>"btn bnt-outline-danger" %>
